@tailwind base;
@tailwind components;
@tailwind utilities;

.mid {
  position: absolute;
  left: 40%;
  top: 40%;
}

.left_side {
  top: 48%;
}

.progressBar {
  width: 45%;
}

.positive {
  height: 1.5%;
}
.negitive {
  height: 0%;
}

.dice {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px; /* Space between the cubes */
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.rotate {
  animation: turn 4s ease-in-out infinite;
}
.rotate-reverse {
  animation: turn-reverse 4s ease-in-out infinite;
}

.face {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.front {
  transform: translateZ(50px);
}
.back {
  transform: translateZ(-50px) rotateY(180deg);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.top {
  transform: rotateX(-90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-270deg) translateZ(50px);
}

@keyframes turn {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  12.5% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  25% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  37.5% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, -1, 90deg);
  }
  62.5% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  75% {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  87.5% {
    transform: rotate3d(1, 1, 1, 90deg);
  }
  100% {
    transform: rotate3d(-1, -1, -1, 90deg);
  }
}

@keyframes turn-reverse {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  12.5% {
    transform: rotate3d(-1, -1, -1, 90deg);
  }
  25% {
    transform: rotate3d(1, 1, 1, 90deg);
  }
  37.5% {
    transform: rotate3d(0, 0, -1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  62.5% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  75% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  87.5% {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}
